---
import Layout from '@/layouts/DefaultLayout.astro';
import { Image } from 'astro:assets';
import logo from '@/images/plop.png';

import { ButtonComponent } from '@/components/ui/ButtonComponent';
import ArchiveItem from '@/components/ArchiveItem.astro';

const posts = await Astro.glob('./content/*.{md,mdx}');
---

<Layout title='Archive' viewTransitions={true}>
	<main class='flex flex-col justify-center items-center gap-y-4'>
		<div class='title'>
			<h1>Welcome To Archive</h1>
			<p class='text-foreground/70 text-center'>A collection of random content</p>
		</div>
		<div class='recent flex flex-col gap-y-4 min-w-[625px]'>
			<div class='archive-item-ctn'>
				{
					posts.map(post => (
						<ArchiveItem
							title={post.frontmatter.title}
							description={post.frontmatter.description}
							tags={post.frontmatter.tags}
							date={post.frontmatter.date}
							url={post.url}
						/>
					))
				}
			</div>
		</div>
	</main>
</Layout>

<style lang='scss'></style>
