---
import { marked } from 'marked';
import { ProjectCarousel } from './ProjectCarousel';

interface Props extends ProjectItem {}

const { title, description, media, url, position = 'left' } = Astro.props;
const descriptionParsed = marked.parse(description);
---

<div class='project'>
	<div class='content mt-auto mb-auto'>
		{position === 'left' ? (
			<div class='title'>
				<a href={url} target='_blank' rel='noopener noreferrer'><h4 class='font-bold'>/{title}</h4></a>
			</div>
			<br />
			<div class='description'>
				<Fragment set:html={descriptionParsed}></Fragment>
			</div>
		) : (
			<div class='description'>
				<Fragment set:html={descriptionParsed}></Fragment>
			</div>
			<br />
			<div class='title'>
				<a href={url} target='_blank' rel='noopener noreferrer'><h4 class='font-bold'>/{title}</h4></a>
			</div>
		)}
	</div>
	<div class='media'>
		<ProjectCarousel media={media} url={url} client:load />
	</div>

</div>

<style lang='scss'>
	.project {
		border-radius: var(--radius);
		padding: 2rem;
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto;
		column-gap: 8rem;
	}
</style>
